.jumbotron {
  color: black;

  .answer-input {
    margin-top: 10px;
  }
}

.jumbotron.nulecule-list {
  padding-top: 20px;
}

.jumbotron.nulecule-list h3{
  text-align: center;
}

img.loading-gif {
  height: 80px;
  margin-left: 20px;
}

form.details-form {
  .labeled-group {
    display: inline-block;
    margin-right: 20px;
  }
}

button.load-nulecules-btn {
  margin-top: 30px;
}
